<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Strava Integration
  </h1>
</div>

<h2>
  <!-- <a target="_blank" rel="noopener" href="https://www.strava.com/oauth/authorize?client_id=33266&redirect_uri=https://stravacommutetracker.herokuapp.com/code_callback&response_type=code&approval_prompt=force&scope=activity:read">Connect to Strava</a> -->
  <!-- <button (click)="onClickStrava()">Connect To Strava</button> -->
  <p>Hello There!!!</p>
</h2>
  

