<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    PwC RideTogether
  </h1>
</div>

<h2>
  <!-- <a target="_blank" rel="noopener" href="https://www.strava.com/oauth/authorize?client_id=33266&redirect_uri=https://stravacommutetracker.herokuapp.com/code_callback&response_type=code&approval_prompt=force&scope=activity:read">Connect to Strava</a> -->
  <!-- <button (click)="onClickStrava()">Connect To Strava</button> -->
  <p>Your SSO login is complete. Please click the button below to go back to the PwC Ridetogether App.</p>
  <a href="pwcmobileapp://betapwc.rideshark.com/api/v2/AuthUsingUserIDNumEnc?UserIDNumEnc=CYR8prM+F8csDdHHSPo5QA==">Open App</a>
</h2>
  

